<h1 class="name"><%= @product.name %></h1>
<a href="#" class="js-next" data-id="<%= @product.id %>">Next Product</a>

<h3 class="price">Price: <%= @product.price %></h3>
<h3 class="inventory">Available Items: <%= @product.inventory %></h3>
<h3 class="description"><%= @product.description %></h3>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1
      $.getJSON("/products/" + nextId + "/data", function(data) {
        $(".name").text(data["name"])
        $(".price").text(data["price"])
        $(".inventory").text(data["inventory"])
        $(".description").text(data["description"])
        $(".js-next").attr("data-id", data["id"])
      })
      return false
    })
  })
</script>
